In [ ]:
# Q1: Split the string into a list
s = "Hi there Class!"
list_s = s.split()
print(list_s)

In [ ]:
# Q2: Use .format() to print the string
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet, diameter))

In [ ]:
# Q3: Grab the word "hello" from the nested list
lst = [1, 2, [3, 4], [5, [100, 200, ["hello"]], 23, 11], 1, 7]
word_hello = lst[3][1][2][0]
print(word_hello)

In [ ]:
# Q4: Grab the word "hello" from the nested dictionary
d = {"k1": [1, 2, 3, {"tricky": ["oh", "man", "inception", {"target": [1, 2, 3, "hello"]}]}]}
word_hello_dict = d["k1"][3]["tricky"][3]["target"][3]
print(word_hello_dict)

In [ ]:
# Q5: Create a function to grab the email domain
def get_domain(email):
    return email.split("@")[-1]

print(get_domain("user@domain.com"))

In [ ]:
# Q6: Create a function to check if "dog" is in the string
def contains_dog(string):
    return "dog" in string.lower()

print(contains_dog("My dog is cute"))

In [ ]:
# Q7: Create a function to count occurrences of "dog" in a string
def count_dog(string):
    return string.lower().split().count("dog")

print(count_dog("dog dog DOG"))

In [ ]:
# Q8: Filter words that start with "s" using lambda and filter
seq = ["soup", "dog", "salad", "cat", "great"]
filtered_seq = list(filter(lambda word: word.startswith("s"), seq))
print(filtered_seq)

In [ ]:
# Q9: Function to determine the type of challan based on speed
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed -= 5
    if speed <= 60:
        return "No Challan"
    elif speed <= 80:
        return "Small Challan"
    else:
        return "Heavy Challan"

print(caught_speeding(81, True))
print(caught_speeding(81, False))

In [ ]:
# Q10: Concatenate two lists index-wise
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
concatenated_list = [i + j for i, j in zip(list1, list2)]
print(concatenated_list)

In [ ]:
# Q11: Concatenate two lists in all combinations
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
combined_list = [i + j for i in list1 for j in list2]
print(combined_list)

In [ ]:
# Q12: Add item 7000 after 6000 in the nested list
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2, 7000)
print(list1)

In [ ]:
# Q13: Remove all occurrences of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
list1 = [x for x in list1 if x != 20]
print(list1)

In [ ]:
# Q14: Check if 200 exists in the dictionary
d1 = {"a": 100, "b": 200, "c": 300}
print(200 in d1.values())

In [ ]:
# Q15: Find the sum of the series 2 + 22 + 222 + ... up to n terms
def sum_of_series(n):
    result = 0
    num = 2
    for _ in range(n):
        result += num
        num = num * 10 + 2
    return result

n_terms = 4
print(sum_of_series(n_terms))